

p{
  color:black;
  font-size:12px;
  margin:0px;
  padding:0px;
}
.date{
 display:block;
  float:right;
}
.container{
  color:black; 
  background-color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width:800px;
  margin:auto;
}

h1{
 font-size:24px;
  border-style:none none solid none;
  border-width:1px;
  margin:0px;
  padding:0px;
  font-weight:heavy;
}

h2{
  font-size:16px;
  text-decoration: underline;
  font-weight: heavy;
  margin:0px;
  padding:0px;
}

h3{
 font-size:14px; 
 font-weight: heavy;
 margin:0px;
 padding:0px;
  display:block;
}

ul{
 font-size:12px;
  margin:0px;

}
