

p{
  color:black;
}

.container{
  color:black; 
  background-color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1{
 font-size:24;
  border-style:none none solid none;
  
}

h2{
  font-size:14;
  text-decoration: underline;
}

h3{
 font-size:14; 
}
